body {
    background-color: black;
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin:0;
    padding:0;
    min-height: 100vh;
    
}
header{
    background-color: black;
    background-image: url("images/tlo_header.jpg");
    background-size: 100%;
    background-position: center;
    padding: 20px 40px 10px 50px;
    height: 100px;
    text-align: center;
    background-size: cover; /* U偶ywamy cover, aby dopasowa obraz do nag贸wka */
}

/* Napisy sie podkreslaja jak na nie najedziemy */
header a{
    
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
    font-weight: 700; 
    transition: color 0.3s ease, transform 0.3s ease; /* Pynne przejcie dla efekt贸w */
       text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    
}

a:hover{
    text-decoration: underline;
    color: rgb(194, 219, 209); 
  
}

a{
    text-decoration: none;
}

header .logo a{
    background-image: url("images/logo_nowe.png");
    background-size: 100px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100px;
    position: relative;
    top:-40px;
    width: 100px;
    text-indent: -9999px;
    transition: transform 0.3s ease; /* Pynne przejcie dla efekt贸w */
    
}

header .logo a:hover {
    transform: scale(1.2); /* Powikszenie logo na hover */
}

nav .logo {
    margin-right: auto; /* Przesunicie logo maksymalnie w lewo */
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
}
.nav-items {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}




header .mobile{
    display: none;
}
/*
div{
    background: none;
    margin: auto;
    width: 100px;
}
*/

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: flex-start; /* Przesunicie element贸w na lewo */
}

nav li{
    display:inline;
    margin: 0px 20px 0 0;
}


section{
    background-color: rgb(97, 22, 34);
    background-image: url("images/tlo_section.jfif");
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
   
 
}


/* wstep */
.powitanie{
    color:white;
    font-size:24px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(1, 10, 12, 0.5);
    
}

.wstep{
    font-family: "Roboto", sans-serif;
    padding: 5px 10px 10px 10px;
    color: white;
    text-align: center;
    font-weight: 700; 
    text-shadow: 2px 2px 4px rgba(6, 36, 13, 0.5);
    font-size: 1.3em;
    line-height: 1.3em;

}


/* obrazki kursow */
.features{
    background-color: none;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.features figure{
    margin: auto;
    width:200px;
    text-align:center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Pynne przejcie dla efekt贸w */

}

.features figure figcaption{
    margin-top: 15px;
    margin-bottom: 20px;
}
.features figure img{
    
    width: 200px;
    box-shadow: gray 10px 10px 10px;
    border-radius: 30%;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Pynne przejcie dla efekt贸w */
}

.features img:hover {
    transform: scale(1.1) rotate(3deg); /* Powikszenie i lekki obr贸t obrazka na hover */
    opacity: 0.8; /* Zmniejszenie przezroczystoci na hover */
}

.features figcaption {
    margin-top: 10px;
    font-weight: 700;
    color: white;
    transition: color 0.3s ease; /* Pynne przejcie dla koloru */
    height: 50px; /* Staa wysoko dla figcaption */
       display: flex;
    align-items: center;
    justify-content: center; /* Wyr贸wnanie tekstu w rodku */
   
}

/* Efekt hover dla figcaption */
.features figure:hover figcaption {
    color: rgb(194, 219, 209); /* Zmiana koloru tekstu na hover */
}
/*  */


/* Lokalizacja, google mapa */


.map-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.map-container iframe{
    width: 100%;
    height: 700px;
   
}

footer{
    background-color: rgb(49,47,47);    
    color: rgb(240, 227, 227);
    padding: 10px 20px;
    font-size: 12px;
    text-align: center;
}


/* Kontakt*/

div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    
}
.div .kontakt_obraz{
    background-image: url("images/tlo_section.jfif");
}

.kontakt_obraz {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    
    
}

.box {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    transition: transform 0.1s ease, background-color 0.1s ease;
}

.box:hover {
    background-color: #f0f8ff; /* Zmiana koloru ta przy najechaniu */
    transform: scale(1.05); /* Powikszenie elementu przy najechaniu */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Zwikszenie cienia przy najechaniu */
}


.icon {
    font-size: 2.5em;
    color: #1e73be;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.25em;
    color: #1e73be;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    color: #333;
}
.offer-box a {
    color: #b3b3b3;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease; /* Pynne przejcie dla efekt贸w */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.offer-box a:hover {
    text-decoration: underline;
    color: rgb(194, 219, 209); 
}










/*oferty zajec*/
main {

    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.offer {
    max-width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    text-align: center;
    
}

h1{
    margin-bottom: 30px;
    font-size: 2.5em;
    color: #F7FF00;
}

h3{
    color: #F7FF00; 
    margin: 1em 22em 1.5em 22em;
    line-height: 1.5em;
}

.offer h1 {

    margin-top: 0;
    
}

.offer h3{
    margin-bottom: 2em;
}


.offer-box {
   /*  max-width: 400px; */
    min-width: 400px;
    flex: 1;
    padding: 20px;
    background-color: rgba(70, 80, 66, 0.582);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
    
}

.offer-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.offer-box h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #ffcc00;
    min-width: 400px;
}

.offer-box p {
    font-size: 1.2em;
    color: #b3b3b3;
    min-width: 400px;
}



/* making websites mobile etc */

@media screen and (max-width: 512px) {
    header .mobile{
        display: inline-block;
        color: blue;
    }

    header .desktop{
        display: none;
    }
}

/* TEKST W POSZCZEGOLNYCH KURSACH */
@media (max-width: 1221px) {
    h3 {
        margin-left: 15em;
        margin-right: 15em;
    }
}

@media (max-width: 994px) {
    h3 {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 140px) {
    .offer-box h2 {
        font-size: 1.8em;
        margin-bottom: 10px;
        color: #ffcc00;
        min-width: 400px;
    }
    
    .offer-box p {
        font-size: 1.2em;
        color: #b3b3b3;
        min-width: 400px;
    }
}

/*
<section class="kontakt_obraz">
    <div class="box">
        <div class="icon"></div>
        <h3>Godziny pracy</h3>
        <p>Do ustalenia indywidualnie, zwykle po godzinie 18:00</p>
    </div>
    <div class="box">
        <div class="icon"></div>
        <h3>Kontakt Messenger</h3>
        <p><a href="https://www.facebook.com/damian.wrobel.39589" target="_blank">Kliknij tutaj</a></p>
    </div>
    <div class="box">
        <div class="icon"></div>
        <h3>Numer telefonu kom贸rkowego</h3>
        <p>730 307 304</p>
    </div>
</section>
*/

